<div>
<div class="text-center">
  <img src="..." class="rounded-circle" alt="...">
</div>

<div class="form-outline mb-4">
    <input type="email" id="displayName" class="form-control" />
    <label class="form-label" for="displayName">Display Name</label>
  </div>

  <div class="form-outline mb-4">
    <input type="email" id="location" class="form-control" />
    <label class="form-label" for="location">Location</label>
  </div>

  
  <div class="form-outline mb-4">
    <input type="email" id="favoriteSport" class="form-control" />
    <label class="form-label" for="favoriteSport">Favorite Sport</label>
  </div>


  <button type="button" id="edit-button" onClick="updateAttempt()" class="btn btn-primary btn-block mb-4">Save</button>

</div>