<div>
<div class="text-center">
  <img src="..." class="rounded-circle" alt="...">
</div>

<div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Display Name</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Location</label>
  </div>

  
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Favorite Sport</label>
  </div>


  <button type="button" class="btn btn-primary btn-block mb-4">Save</button>

</div>