<div class="home-sidebar">
  <div class="row">
    <h1>Bienvenido a Game Changer</h1>
  </div>
  <div class="row">
    <p>
      El mejor sistema de bracketing online. Util para organizar tus eventos y
      concursos.
    </p>
  </div>
  <div class="row">
    <div class="col">
      <button
        onclick="location.href = '/register';"
        type="button"
        class="btn btn-success"
      >Registrate ya</button>
      <button
        onclick="location.href = '/login';"
        type="button"
        class="btn btn-success"
      >Inicia Sesion</button>
    </div>
  </div>
</div>