<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
  style="width: 280px;"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <svg class="bi me-2" width="40" height="32"><use
        xlink:href="#bootstrap"
      ></use></svg>
    <span class="fs-4">Game Changer</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/search" class="nav-link active" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use
            xlink:href="#home"
          ></use></svg>
        Search Events
      </a>
    </li>
    <li>
      <a href="/profile" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use
            xlink:href="#speedometer2"
          ></use></svg>
        Profile
      </a>
    </li>
    <li>
      <a href="/events" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use
            xlink:href="#table"
          ></use></svg>
        Select Events
      </a>
    </li>
    <li>
      <a href="/control" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use
            xlink:href="#grid"
          ></use></svg>
        Control Events
      </a>
    </li>
    <li>
      <a href="/analytics" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use
            xlink:href="#people-circle"
          ></use></svg>
        Analyze information
      </a>
    </li>
  </ul>
</div>