<div class="register-sidebar">
  <h1>Registro de usuario</h1>
  <p>Registrate para poder acceder a las funciones de Game Changer</p>
  <div class="form-outline mb-4">
    <input type="email" id="email" class="form-control" />
    <label class="form-label" for="email">Email address</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="password" class="form-control" />
    <label class="form-label" for="password">Password</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="password2" class="form-control" />
    <label class="form-label" for="password2">Repeat Password</label>
  </div>

  <div class="form-outline mb-4">
    <input type="email" id="name" class="form-control" />
    <label class="form-label" for="name">Name</label>
  </div>
  <button type="button" id="register-button" onClick="registerAttempt()" class="btn btn-primary btn-block mb-4">Register in</button>
</div>