<div class="login-sidebar">
  <h1>Login</h1>
  <p>Inicia sesion utilizando tu email y tu contraseña</p>
  <div class="form-outline mb-4">
    <input type="email" id="email" class="form-control" />
    <label class="form-label" for="email">Email address</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="password" class="form-control" />
    <label class="form-label" for="password">Password</label>
  </div>

  <button type="button" id="login-button" onClick="loginAttempt()"  class="btn btn-primary btn-block mb-4">Log in</button>
  
</div>