body {
  background-image: url(/images/back.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
}

a {
  color: #00b7ff;
}

.template {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
